

/*
.page-accueil{
    margin: auto;
    max-width: 80%;
}
*/

/*
#config_server_mgmt{
    width: 50%;
    margin: auto;
}
*/


html{
    background-color: rgb(129, 128, 145);
    /*background-color: rgba(0, 0, 0, 0.689);*/
}



.container{
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

nav{
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;*/
    top: -10px;
    border-radius: 5px;
}


.red-border-color {
    border: 3px solid red;
}


#srv-partage-ajouter .form-group{
    margin-top: 10px;
}


#srv-partage-ajouter .form-group label{
    font-family: 'Times New Roman', Times, serif;
}


#logo{
    max-width: 100px;
    left: 15px;
}


footer{
    margin-top: 50px;
}