

/*
.page-accueil{
    margin: auto;
    max-width: 80%;
}
*/

/*
#config_server_mgmt{
    width: 50%;
    margin: auto;
}
*/


#srv-partage-ajouter .form-group{
    margin-top: 10px;
}


#srv-partage-ajouter .form-group label{
    font-family: 'Times New Roman', Times, serif;
}


#logo{
    max-width: 100px;
    left: 15px;
}